{{set . "title" "Home"}}

{{append . "moreStyles" "lib/tiny-slider.min.css"}}
{{template "header.html" .}}

<div class="image-slider-container">
	<div class="image-slider-inner-container">
		<div class="image-slider">
			<div class="slider">
				<img src="/public/img/slider/1.jpg" alt="">
				<img src="/public/img/slider/2.jpg" alt="">
			</div>
		</div>
	</div>
</div>

<section class="section">
	<div class="container">
		<p class="title has-text-centered">Menu</p>
		<div class="columns">
			<div class="column is-one-quarter">
				<aside class="menu">
					<ul class="menu-list">
						{{range $i, $category := .menu.Category}}
							<li id="category-menu-{{$i}}"><a{{if eq $i 0}} class="is-active"{{end}} data-index="{{$i}}">{{$category.Name}}</a></li>
						{{end}}
					</ul>
				</aside>
			</div>

			{{range $i, $category := .menu.Category}}
				<div class="column{{if ne $i 0}} is-hidden{{end}}" id="category-content-{{$i}}">
				
					{{range $j, $item := $category.Items}}
						{{$isLastItem := eq (add $j 1) (len $category.Items)}}
						{{$modRes := eq (mod $j 2) 0}}
						{{if $modRes}}
							{{if ne $j 0}}
								</div>
							{{end}}
							<div class="columns">
						{{end}}
							
						<div class="column is-half">
							<div class="box">
								<strong>{{$item.Name}}</strong>
								{{$hasDescription := ne $item.Description ""}}
								{{if $hasDescription}}
									<br>
									{{$item.Description}}
									<br>
								{{end}}
								<span class="tag is-primary{{if not $hasDescription}} is-pulled-right{{end}}">${{currency $item.Price}}</span>
							</div>
						</div>

						{{if $isLastItem}}
							</div><!-- LAST ITEM -->
						{{end}}
					{{end}}
				</div>
			{{end}}
		</div>
	</div>
</section>

{{append . "moreScripts" "lib/tiny-slider.min.js"}}
{{append . "moreScripts" "index.js"}}
{{template "footer.html" .}}