<nav class="nav-container">
		<div class="nav-padding-top">
			<ul class="contact-info-container">
				<li>
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					140 Prospect Road, Prospect 5082
				</li>
				<li>
					<i class="fa fa-phone" aria-hidden="true"></i>
					(08) 7226 0709
				</li>
			</ul>
		</div>
	
		<div class="nav-bar">
			<div class="logo-img"></div>
		
			<ul class="nav-links-container">
				<li class="underlined">Home</li>
				<li>Menu</li>
				<li>Contact Us</li>
			</ul>
		
			<ul class="nav-order-links-container">
				<li>
					<a class="button is-dark" href="https://ozfoodhunter.com.au/book-table/al-mina-on-prospect">
						<span class="icon">
							<i class="fa fa-clock-o"></i>
						</span>
						<span>Book Table</span>
					</a>
				</li>
				<li>
					<a class="button is-dark" href="https://ozfoodhunter.com.au/orders/al-mina-on-prospect">
						<span class="icon">
							<i class="fa fa-cutlery"></i>
						</span>
						<span>Order Online</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>